<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

    <targets>
        <target name="file" xsi:type="File" fileName="log.txt" layout="${longdate} ${level} ${message}" />
    </targets>
	

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>

    public string ch_full_name { get; set; }
        public string ch_address { get; set; }
        public string ch_city { get; set; }
        public string ch_zip { get; set; }
        public string ch_country { get; set; }
        public string ch_phone { get; set; }
        public string ch_email { get; set; }
        public string order_info { get; set; }
        public string order_number { get; set; }
        public int amount { get; set; }
        public string currency { get; set; }
		
		  
		    public string qty { get; set; }
			  public double total { get; set; }
			    public int orderId { get; set; }
				
				 <!-- Hidden fields for additional data -->
            <input type="hidden" id="data-authenticity-token" name="data-authenticity-token" value="">
            <input type="hidden" id="data-transaction-type" name="data-transaction-type" value="purchase">
            <input type="hidden" id="data-digest" name="data-digest" value="">


<script src="https://ipgtest.monri.com/dist/lightbox.js" class="lightbox-button"




        <script>
            function activateMonriLightbox() {
                MonriLightbox.open({
                    authenticity_token: "65f5b74ca9e7041e3224d119433caabee1b83831",
                    amount: "100",
                    currency: "BAM",
                    order_number: "1",
                    order_info: "Lightbox example",
                    digest: "@dataDigest",
                    transaction_type: "purchase",
                    ch_full_name: "Test",
                    ch_zip: "Test",
                    ch_phone: "Test",
                    ch_email: "test@test.com",
                    ch_address: "Adresa",
                    ch_city: "Grad",
                    ch_country: "Croatia",
                    language: "en",
                });
            }

            document.getElementById("paymentButton").addEventListener("click", function (e) {
                e.preventDefault(); // Prevent the default form submission
                activateMonriLightbox(); // Call the function to open the Monri lightbox
            });
        </script>